# указать Lombok-у, что это корневой каталог (запрещает поиск lombok.config в вышестоящих каталогах)
config.stopBubbling = true

# Jacoco >= 0.8.0
# добавляет аннотацию lombok.@Generated к соответствующим методам, классам и полям.
# Jacoco знает об этой аннотации и будет игнорировать этот аннотированный код.
lombok.addLombokGeneratedAnnotation = true
